
<nav>
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
     <em class="emphasized-nav-text"><b>Menu</b></em> -->
    <!-- </button> -->

    <ul>
      <li >
          <a routerLink="">Home</a> |
          <a routerLink="products">Vores Biler</a> |
      </li>
    </ul>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>